<ion-content [fullscreen]="true" color="light">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-card color="light">
          <ion-card-content>
            <ion-item lines="none" class="ion-text-center" color="light">
              <ion-label>Page Not Found</ion-label>
            </ion-item>

            <ion-button (click)="backHome()" style="width: 100%">Go back to home</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
