<ion-grid>
  <ion-row>
    <ion-col></ion-col>
    <ion-col size-xl="4" size-lg="6" size-md="8" size-sm="6" size-xs="12">
      <ion-card color="light">
        <ion-card-content>
          <ion-item lines="none" class="ion-text-center">
            <ion-avatar class="avatar">
              <ion-icon name="person-circle-outline" class="person-icon" color="secondary"></ion-icon>
            </ion-avatar>
          </ion-item>

          <br/>

          <ng-content></ng-content>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-grid>
